.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-radius: 30px;
    padding: 5px;
    max-height:810px;
    box-shadow: 0px 0px 7px rgb(63, 57, 57); 
}
.circle {
    border-radius: 50%;
    // border: 5px solid black;
    width: 60px;
    height: 60px;
    margin: 10px;
}
.g{
    display: inline;
}
.d{
    position: relative;
    left:300px;
    bottom: 800px;
}
.box {
    display: flex;
    flex-direction: row;
    background-color: black;
    border-radius: 30px;
    padding: 10px;
    height: auto; 
    position: relative; /* הופך לעוגן עבור התוצאות */
    box-shadow: 0px 0px 7px rgb(63, 57, 57); 
}

.d {
    position: absolute; /* מוציא את האלמנט מהחישוב של גובה הדף */
    left: 100%; /* מצמיד לימין של הלוח השחור */
    margin-left: 10px;
    top: 0;
    /* מחקנו את ה-bottom: 800px - זה מה שהרג את הרווח הלבן! */
}