*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.msg{
    position: absolute;
    background-color:  rgba(255, 255, 255, 0.562);
    border: 2px white solid;
    top:400px;
    left: 5vw;
    padding: 10px;
    border-radius: 20px;
    width: 250px;
    font-size: 20px;
    text-align: center;
    direction: rtl;
}
.bg{
    min-height: 100vh;
    background-image:linear-gradient(whitesmoke, cadetblue, teal)
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* מחקנו את ה-justify-content: center */
}

.bg {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(whitesmoke, cadetblue, teal);
    background-attachment: fixed; /* שומר שהצבע לא ייגמר אם יש גלילה */
}
