* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(whitesmoke, cadetblue, teal);
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.msg {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.562);
    border: 2px white solid;
    top: 400px;
    left: 5vw;
    padding: 10px;
    border-radius: 20px;
    width: 250px;
    font-size: 20px;
    text-align: center;
    direction: rtl;
}